{% extends "base.html" %}

{% block content %}

<h1>Accounts</h1>

<h3>Add Entry</h3>

<form id="form">
    <select name="type">
        <option value="credit">Credit</option>
        <option value="debit">Debit</option>
    </select>

    <input name="amount" placeholder="Amount" required />
    <input name="description" placeholder="Description" />
    <button>Add</button>
</form>

<hr>

<h3>All Transactions</h3>
<div id="list"></div>

<script>
document.getElementById("form").onsubmit = async (e) => {
    e.preventDefault();

    const form = new FormData(e.target);
    await API("/accounts/add", "POST", form);

    e.target.reset();
    load();
};

async function load() {
    const data = await API("/accounts/all");

    document.getElementById("list").innerHTML =
        data.data.map(l => `
            <div>
                ${l.type} | ${l.amount} | ${l.description || ""} | ${l.date}
            </div>
        `).join("");
}

load();
</script>

{% endblock %}