{% extends "base.html" %}

{% block content %}

<h1>Attendance</h1>

<h3>Students</h3>
<div id="students"></div>

<hr>

<h3>Teachers</h3>
<div id="teachers"></div>

<script>
async function load() {
    const s = await API("/attendance/admin/students");
    const t = await API("/attendance/admin/teachers");

    document.getElementById("students").innerHTML =
        s.attendance.map(r => `
            <div>
                Student ${r.student_id} | ${r.date} | P${r.period} | ${r.status}
            </div>
        `).join("");

    document.getElementById("teachers").innerHTML =
        t.attendance.map(r => `
            <div>
                Teacher ${r.teacher_id} | ${r.date} | P${r.period} | ${r.status}
            </div>
        `).join("");
}

load();
</script>

{% endblock %}