<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>

<h1>Users</h1>

<a href="/auth/register">Create User</a>

<div id="list"></div>

<script src="/static/js/api.js"></script>
<script>
async function load() {
    const users = await API("/users");

    document.getElementById("list").innerHTML = users.map(u => `
        <div>
            ${u.name} (${u.role})
            <button onclick="del(${u.id})">Delete</button>
        </div>
    `).join("");
}

async function del(id) {
    const form = new FormData();
    form.append("id", id);

    await API("/users/delete", "POST", form);
    load();
}

load();
</script>

</body>
</html>