{% extends "base.html" %}

{% block content %}

<h1>Teacher Dashboard</h1>

<h3>Today’s Classes</h3>
<div id="today"></div>

<hr>

<h3>Attendance Summary</h3>
<div id="summary"></div>

<hr>

<h3>Recent Attendance</h3>
<div id="recent"></div>

<script>

function getToday() {
    const days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
    return days[new Date().getDay()];
}

(async () => {
    const schedule = await API("/schedule/teacher");
    const attendance = await API("/attendance/teacher/self");

    // ---- TODAY CLASSES ----
    const today = getToday();

    const todayClasses = schedule.schedule.filter(s => s.day === today);

    document.getElementById("today").innerHTML =
        todayClasses.length
        ? todayClasses.map(s => `
            <div>
                P${s.period} | ${s.subject} | Class ${s.class_id}
            </div>
        `).join("")
        : "No classes today";

    // ---- SUMMARY ----
    const total = attendance.attendance.length;
    const present = attendance.attendance.filter(a => a.status === "present").length;
    const absent = total - present;

    document.getElementById("summary").innerHTML = `
        <p>Total: ${total}</p>
        <p>Present: ${present}</p>
        <p>Absent: ${absent}</p>
    `;

    // ---- RECENT ----
    const recent = attendance.attendance.slice(-5).reverse();

    document.getElementById("recent").innerHTML =
        recent.map(r => `
            <div>
                ${r.date} | P${r.period} | ${r.status}
            </div>
        `).join("");

})();

</script>

{% endblock %}